$primary_color: #ffffff9f;
$emphasys_color: #D2BB09;
$neutral_color: #FFF;
$bg_color_default: #131216;
$bg_color1: #1b191a;


:export {
    primary_color: $primary_color;
    emphasys_color: $emphasys_color;
    neutral_color: $neutral_color;
    bg_color_default: $bg_color_default;
    bg_color1: $bg_color1;
}