@import '../../../styles_globals/custom_exports.module.scss';

.fixedMenu {
    position: fixed;
    bottom: 1.2*$xl;
    right: $md;
    display: flex;
    flex-direction: column;
    gap: $sm;

    &#id {
        border: 1px solid red;
    }
}

.actived {
    svg {
        color: $emphasys_color;
    }
}