@import '../../../styles_globals/custom_exports.module.scss';

.experienceContainer {
    position: relative;
    padding: 0 25px;
    border: 1px solid rgba(0, 0, 255, 0);
    border-left: 1px solid #D2BB09;
    margin: 40px 0;
    max-width: 100%;

    h1 {
        padding: $md;
    }

    .circleExtern {
        width: 14px;
        height: 14px;
        position: absolute;
        border: 1px solid #D2BB09;
        border-radius: 50%;
        top: -16px;
        left: -8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .circleIntern {
            width: 8px;
            height: 8px;
            background-color: #D2BB09;
            border-radius: 50%;
        }
    }

    .main {
        margin-top: -20px;
        cursor: pointer;

        .box {
            h1 {
                color: #D2BB09;
                border-bottom: 1px solid #D2BB09;
                margin-bottom: $sm;
                text-align: left;
            }

            h2 {
                font-family: 'Bitter';
                font-weight: 400;
                margin-bottom: 10px;
            }

            span {
                color: #ffffff9f;
                margin-bottom: 10px;
                text-align: justify;

                .emphasis {
                    color: #D2BB09;
                    font-style: italic;
                }
            }
        }
    }

    .description {
        flex-direction: column;
        justify-content: flex-start;

        p,
        span {
            color: #ffffff9f;
            margin-bottom: 10px;
            text-align: justify;
        }

        h2 {
            font-size: $md;
            color: $emphasys_color;
            padding-top: $md;
        }

        .responsibilities {
            max-width: 100%;
            display: flex;
            justify-content: space-between;

            div {
                max-width: 48%;
                ul {
                    list-style: none;
                    li {
                        position: relative;
                        padding: 5px 18px;
                        text-wrap: wrap;

                        &:before {
                            content: '';
                            background-image: url('/images/check.png');
                            background-size: cover;
                            width: 15px;
                            height: 15px;
                            display: inline-block;
                            position: absolute;
                            top: 5px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    .hidden {
        display: none;
    }

    .visible {
        display: flex;
    }
}

@media (max-width:560px) {
    .experienceContainer {
        padding: 0 $sm;

        .main {
            .box {
                h1 {
                    font-size: $md;
                    padding-bottom: $sm * 0.5;
                }

                h2 {
                    font-size: $md;
                    text-align: center;
                }
            }
        }

        .description {
            .responsibilities {
                flex-direction: column;

                div {
                    max-width: 100%;

                    ul {
                        li {
                            padding: 0.5 * $sm 1.5 * $sm;

                            &:before {
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:561px) and (max-width:768px) {
    .experienceContainer {
        padding: 0 $sm;
    }
}
